{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<ul>
    <pre class="prettyprint lang-javascript">
        <code class="lang-javascript">
            <script type="text/javascript">
                {% autoescape false %}
                   document.write(JSON.stringify(JSON.parse('{{ json_forecast }}'),null,2));
                {% endautoescape %}
            </script>
        </code>
    </pre>
</ul>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}
